body {
    background-color: whitesmoke;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin-top: 100px;
}
.controls {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}
main {
    display: grid;
    padding: 60px 20px;
    color: black;
}
h1 {
    display: grid;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black, 1px 1px 10px rgb(145, 29, 29);
}
.contentBox {  
    gap: 6px; 
    background-color: #d3c41a;
    color: white; 
    padding: 5px 5px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold; 
}
.grid-container2 {
   display: flex;
   border: 4px solid black;
}
.control button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}
#text-to-change {
    font-size: 24px;
    padding: 10px;
    color: #000000;
    text-indent: 30px;
}
.no-bullets {
  list-style-type: none;
  font-size: 17px;
}
header, footer {
    text-align: center;
}
a:hover {
    color: red;
}
#font-selector {
    padding: 5px;
}
